@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}

<!--
  Author:    Dan Ruley
  Partner:   None
  Date:      October, 2020
  Course:    CS 4540, University of Utah, School of Computing
  Copyright: CS 4540 and Dan Ruley - This work may not be copied for use in Academic Coursework.

  I, Dan Ruley, certify that I wrote this code from scratch and did
  not copy it in part or whole from another source.  Any references used
  in the completion of the assignment are cited in my README file and in
  the appropriate method header.

    This is the view for the scaffolded ConfirmEmail page
 -->


<body class="page">
    <div class="jumbotron" id="home_jumbo" style="height: 25%; background-color: #f3ffff; box-shadow: 5px 8px #888888; border: 3px solid black; margin-top: 75px">

        <h1 class="display-4" style="font-family: Arial">Your account has been confirmed!</h1>

        <hr class="my-4">
        <br />
        <div class="row">
            <p>Click the link to login and get started with the URC.</p>

            <a href="Login" class="btn btn-primary" style="margin-left: 100px; padding: 10px;box-shadow: #3f3f3f 2px 4px; width: 150px;"><p>Login</p></a>
        </div>
    </div>
</body>