@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}

<!--
  Author:    Dan Ruley
  Partner:   None
  Date:      October, 2020
  Course:    CS 4540, University of Utah, School of Computing
  Copyright: CS 4540 and Dan Ruley - This work may not be copied for use in Academic Coursework.

  I, Dan Ruley, certify that I wrote this code from scratch and did
  not copy it in part or whole from another source.  Any references used
  in the completion of the assignment are cited in my README file and in
  the appropriate method header.

    This is the view for the scaffolded Register Confirmation page
 -->


<h1>@ViewData["Title"]</h1>
<body class="page">
    @{
        if (@Model.DisplayConfirmAccountLink)
        {
            <p>
                This app does not currently have a real email sender registered, see <a href="https://aka.ms/aspaccountconf">these docs</a> for how to configure a real email sender.
                Normally this would be emailed: <a id="confirm-link" href="@Model.EmailConfirmationUrl">Click here to confirm your account</a>
            </p>
        }
        else
        {
            <p>
                Please check your email to confirm your account.
            </p>
        }
    }
</body>
