<!--
  Author:    Dan Ruley
  Partner:   None
  Date:      September, 2020
  Course:    CS 4540, University of Utah, School of Computing
  Copyright: CS 4540 and Dan Ruley - This work may not be copied for use in Academic Coursework.

  I, Dan Ruley, certify that I wrote this code from scratch and did
  not copy it in part or whole from another source.  Any references used
  in the completion of the assignment are cited in my README file and in
  the appropriate method header.

  Contains a table showing details about a specific research opportunity.  For now, everything is
  a placeholder until database functionality is implemented.
 -->

@{
    ViewData["Title"] = "Research Opportunity Details";
}


<body class="page" id="details_pg">
    <table class="header" id="details_h">
        <tbody>
            <tr>
                <td width="85%">
                    Research Opportunity Details
                </td>
                <td>
                    <img src="/images/uofu.jpg" alt="Pict" />
                </td>
            </tr>
        </tbody>
    </table>

    <table class="detail_table" id="dt_1">
        <tbody>
            <tr>
                <th>
                    Principal Investigator:
                </th>
                <td>
                    Bob Jones
                </td>
            </tr>
            <tr>
                <th>
                    Email Contact:
                </th>
                <td>
                    <a href="mailto: placeholder@utah.edu">Placeholder email</a>
                </td>
            </tr>
            <tr>
                <th>
                    Phone Number:
                </th>
                <td>
                    801-867-5309
                </td>
            </tr>
            <tr>
                <th>
                    Location:
                </th>
                <td>
                    3190 MEB S
                </td>
            </tr>
            <tr>
                <th>
                    Weekly hours:
                </th>
                <td>
                    20
                </td>
            </tr>
            <tr>
                <th>
                    Starting pay:
                </th>
                <td>
                    $15 per hour
                </td>
            </tr>
            <tr>
                <th>
                    Programming languages used:
                </th>
                <td>
                    Java, Python, C++
                </td>
            </tr>
        </tbody>
    </table>

</body>