<!--
  Author:    Dan Ruley
  Partner:   None
  Date:      September, 2020
  Course:    CS 4540, University of Utah, School of Computing
  Copyright: CS 4540 and Dan Ruley - This work may not be copied for use in Academic Coursework.

  I, Dan Ruley, certify that I wrote this code from scratch and did
  not copy it in part or whole from another source.  Any references used
  in the completion of the assignment are cited in my README file and in
  the appropriate method header.

  Privacy policy, not very robust for the time being.
 -->

@{
    ViewData["Title"] = "Privacy Policy";
}

<body class="page" id="priv_pg">

    <!-- Title with U of U Logo-->
    <table class="header" id="priv_h">
        <tbody>
            <tr>
                <td width="85%">
                    Privacy Policy
                </td>
                <td>
                    <img src="/images/uofu.jpg" alt="Pict" />
                </td>
            </tr>
        </tbody>
    </table>

    <br />
    <br />

    <p class="opportunity" style="padding: 50px">
        This web page will totally not sell your personal data to a hacker named Boris, located somewhere in the Eastern Europe near the Caucuses, who happens to operate several large spam botnets.  Absolutely not, no way.  Relax... go ahead and register. Submit an application!  We'd especially love to hear details about where you grew up, maybe the names of some of your childhood pets, oh and of course family history, perhaps your mothers maiden name... Your information is completely safe with the fine folks here at the URC.  C'mon, you know you want to.  What's the worst that could happen?
    </p>
</body>